html,
body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans Caption',  Droid Sans, Helvetica Neue, sans-serif;
  background-color: #53a2db;
  color: white;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  background-color: inherit;
  color: inherit;
  border-color: inherit;
}

*::placeholder {
  color: inherit;
  opacity: 0.75;
}
